<?php
date_default_timezone_set('Asia/Tokyo'); 

define('LOGIN_URL', "https://area18.smp.ne.jp/area/p/mjtf5qbqjt9lhpgqh7/1icLdA/login.html");
define('OROSHI_LOGIN_URL', "https://area18.smp.ne.jp/area/p/mjtf5qbral1lhpgrh7/EEOAFE/login.html");
define('OROSHI_OrderDetailAccess', "https://area18.smp.ne.jp/area/d/56bd6c69/lhpgrj"); //伝票直リンクURL
define('TENANT_ADMIN_LOGIN_URL', "https://area18.smp.ne.jp/area/p/mjtf5qcsjo4lhsetg6/IjS8C5/login.html");


/***
 * tennant Admin MyArea Setting
 */

const GateSetting = [
    'all' => [
        'FacilityList' => true,
        'FacilityRegist' => true,
        'FacilityUpdate' => true,
        'DistributorBlukInsert' => true,
        'ItemBulkUpsert' => true,
        'PriceBulkUpsert' => true,
        'PriceAndInHospitalItemBulkInsert' => true,
        'NewFacilityItemsBulkInsert' => true,
        'ConsumedHistory' => true,
        'OrderedHistory' => true,
        'ReceivedHistory' => true,
        'ItemRequestHistory' => true,
        'PayoutHistory' => true,
        'ConsumMR' => true,
        'OrderMR' => true,
        'ReceivingMR' => true,
        'PayoutMR' => true,
        'InventoryMovement' => true, //追加
        'ReceiveHistoryMCH' => true,
        'ReturnHistoryMCH' => true,
        'SystemNotification' => true,
        'SystemNotificationReg' => true,
        ],
    'custom1' => [
        'FacilityList' => false,
        'FacilityRegist' => false,
        'FacilityUpdate' => false,
        'DistributorBlukInsert' => false,
        'ItemBulkUpsert' => false,
        'PriceBulkUpsert' => false,
        'PriceAndInHospitalItemBulkInsert' => false,
        'NewFacilityItemsBulkInsert' => false,
        'ConsumedHistory' => false,
        'OrderedHistory' => false,
        'ReceivedHistory' => false,
        'ItemRequestHistory' => false,
        'PayoutHistory' => false,
        'ConsumMR' => false,
        'OrderMR' => false,
        'ReceivingMR' => false,
        'PayoutMR' => false,
        'InventoryMovement' => false, //追加
        'ReceiveHistoryMCH' => false,
        'ReturnHistoryMCH' => false,
        'SystemNotification' => false,
        'SystemNotificationReg' => false,
        ],
];
